<div layout="row" class="select-widget" layout-align="center center">
  <md-button class="md-raised md-primary" ng-click="vm.go.toWidget(vm.username, vm.deck, vm.category, 'card-list')">Card List</md-button>

  <md-button class="md-raised md-primary" ng-click="vm.go.toWidget(vm.username, vm.deck, vm.category, 'flashcards')">Flashcards</md-button>

  <md-button class="md-raised md-primary" ng-click="vm.go.toWidget(vm.username, vm.deck, vm.category, 'multiple-choice')">Multiple Choice</md-button>
</div>

<hr class="select-widget-divider" />