<boiler-container padding="true">
  <div layout="row" layout-align="center center" style="margin: 50px;">
    <div layout="column" layout-align="center center">
      <div ng-repeat="paletteIndex in vm.paletteIndexes" class="palette-swatch" md-colors="::{background: 'primary-{{paletteIndex}}'}"></div>
    </div>
    <div layout="column" layout-align="center center">
      <div ng-repeat="paletteIndex in vm.paletteIndexes" class="palette-swatch" md-colors="::{background: 'accent-{{paletteIndex}}'}"></div>
    </div>
    <div layout="column" layout-align="center center">
      <div ng-repeat="paletteIndex in vm.paletteIndexes" class="palette-swatch" md-colors="::{background: 'warn-{{paletteIndex}}'}"></div>
    </div>
    <div layout="column" layout-align="center center">
      <div ng-repeat="paletteIndex in vm.paletteIndexes" class="palette-swatch" md-colors="::{background: 'background-{{paletteIndex}}'}"></div>
    </div>
  </div>
</boiler-container>
