<boiler-page-header>
  <span ng-if="vm.username && vm.deck" class="study-widgets-page-header">
    <span ng-click="vm.go.toUser(vm.username)" class="study-widgets-user-link">{{vm.username | removeDashes}}</span> <span ng-if="vm.category">/</span> <span ng-if="vm.category" ng-click="vm.go.toUser(vm.username, vm.category)" class="study-widgets-user-link">{{vm.category | removeDashes}}</span> / {{vm.deck | removeDashes}}
  </span>
</boiler-page-header>

<boiler-container padding="true">
  <div layout="row">
    <div flex-xs="0" flex-sm="0" flex-md="10" flex="15"></div>
    <div flex>

      <boiler-select-widget></boiler-select-widget>

      <boiler-card-list ng-if="vm.widget === 'card-list'" category="vm.category"></boiler-card-list>

      <boiler-flashcards ng-if="vm.widget === 'flashcards'"></boiler-flashcards>

      <boiler-multiple-choice ng-if="vm.widget === 'multiple-choice'"></boiler-multiple-choice>

    </div>
    <div flex-xs="0" flex-sm="0" flex-md="10" flex="15"></div>
  </div>
</boiler-container>

<div layout="row" md-colors="{backgroundColor:'primary-900'}">
  <div flex-xs="0" flex-sm="25" flex-md="30" flex="35"></div>
  <div flex>
    <boiler-container theme="accent" size="large" padding="true" ng-if="vm.currentUser.loaded && !vm.currentUser.authenticated">
      <boiler-login on-create-user="vm.refreshDecks()"></boiler-login>
    </boiler-container>
  </div>
  <div flex-xs="0" flex-sm="25" flex-md="30" flex="35"></div>
</div>