.boiler-progress md-progress-linear,
.boiler-progress md-progress-linear .md-container,
.boiler-progress md-progress-linear .md-dashed,
.boiler-progress md-progress-linear .md-container .md-bar {
  height: 15px;
}

.boiler-progress .md-mode-determinate {
  transition: width 1.5s ease;
}

.boiler-progress .md-mode-determinate {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}

.boiler-progress .md-mode-determinate {
  background-image: linear-gradient(45deg,hsla(0,0%,100%,.15) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,.15) 75%,transparent 0,transparent);
  background-size: 1rem 1rem;
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }
  100% {
    background-position: 0 0;
  }
}

.boiler-flashcards-flashcard {
  min-height: 300px;
  background-color: #fff;
  cursor: pointer;
  text-align: center;
}

.boiler-flashcards-complete {
  text-align: center;
}