<div layout-margin layout-padding>

  <study-widgets-progress-bar progress="vm.progress" negative-progress="vm.negativeProgress"></study-widgets-progress-bar>
  
  <div layout="row">
    <div flex-xs="0" flex-sm="0" flex="5"></div>
    <div flex>
      <div layout-padding layout layout-align="center center" class="boiler-flashcards-flashcard" ng-if="!vm.cardFlipped && !vm.complete" ng-click="vm.flipCard()"><h2>{{vm.currentCards[vm.currentCardId].term}}</h2></div>
      <div layout-padding layout layout-align="center center" class="boiler-flashcards-flashcard" ng-if="vm.cardFlipped && !vm.complete" ng-click="vm.flipCard()">{{vm.currentCards[vm.currentCardId].definition}}</div>
      <div layout-padding layout layout-align="center center" class="boiler-flashcards-flashcard" md-colors="{background: 'primary-900'}" ng-if="vm.passed"><h2 class="boiler-flashcards-complete">{{vm.successMessage}}</h2></div>
      <div layout-padding layout layout-align="center center" class="boiler-flashcards-flashcard" md-colors="{background: 'warn-900'}" ng-if="vm.failed"><h2 class="boiler-flashcards-complete">{{vm.failureMessage}}</h2></div>
    </div>
    <div flex-xs="0" flex-sm="0" flex="5"></div>
  </div>

  <div layout="row">
    <div flex>
        <md-card-actions layout="row" layout-align="center">
          <md-button ng-if="!vm.complete" class="md-raised md-accent-600" ng-click="vm.next(false)" ng-disabled="!vm.cardFlipped">Didn't get it</md-button>
          <md-button ng-if="!vm.complete && vm.cardFlipped" class="md-raised md-primary" ng-click="vm.next(true)">I got it!</md-button>
          <md-button ng-if="!vm.complete && !vm.cardFlipped" class="md-raised md-accent" ng-click="vm.flipCard()">Flip</md-button>
          <md-button ng-if="vm.complete" class="md-raised" ng-class="vm.missedCards.length ? '' : 'md-primary'" ng-click="vm.studyAll()">Again</md-button>
          <md-button ng-if="vm.missedCards.length && (vm.complete)" class="md-raised md-primary" ng-click="vm.studyMissed()">Missed Cards Only</md-button>
        </md-card-actions>
    </div>
  </div>

</div>