
<div layout="row" layout-sm="column" layout-xs="column">
  <div flex-xs="0" flex-sm="0" flex-md="10" flex="20" md-colors="{backgroundColor:'background-50'}"></div>
  <div flex md-colors="{backgroundColor:'background-50'}">
    <boiler-container size="full">
      <div layout="column" hide show-xs show-sm layout-align="center center" class="gutter-top">
        <img src="./src/images/logo-medium.png" class="home-diagram">
        <div>
          <h3 class="md-headline boiler-home-headline" md-colors="{color:'primary-900'}">Study straight from your notes.</h3>
        </div>
        <md-button class="md-raised boiler-home-show-more" md-colors="{backgroundColor:'accent-900'}" ng-click="vm.go.toHowItWorks()">Show Me More</md-button>
      </div>
    
      <div layout="column" hide show-gt-sm layout-align="center center" class="gutter-top">
        <img src="./src/images/logo-large.png" class="home-diagram">
        <div>
          <h3 class="md-headline boiler-home-headline" md-colors="{color:'primary-900'}">Study straight from your notes.</h3>
        </div>
        <md-button class="md-raised md-accent md-hue-1 boiler-home-show-more" ng-click="vm.go.toHowItWorks()">Show Me More</md-button>
      </div>
    </boiler-container>
  </div>
  <div flex md-colors="{backgroundColor:'primary-900'}">
    <boiler-container theme="accent" size="large" padding="true">
      <boiler-login></boiler-login>
    </boiler-container>
  </div>
  <div flex-xs="0" flex-sm="0" flex-md="10" flex="20" md-colors="{backgroundColor:'primary-900'}"></div>
</div>

<!-- <boiler-container theme="dark" size="medium" padding="true">
  <div layout="row" layout-xs="column" layout-align="center start">
    <div flex style="width: 100%;">
      <boiler-pager pager-id="userPager" page-size="10" title="Recent Users" api-url="users" show-pages="false" item-link="['users','username']" columns="['username']"></boiler-pager>
    </div>
    <div flex style="width: 100%;"></div>
    <div flex style="width: 100%;">
      <boiler-pager pager-id="deckPager" page-size="10" title="Recent Decks" api-url="decks" show-pages="false" item-link="['users','username','name','card-list']" columns="['name']"></boiler-pager>
    </div>
  </div>
</boiler-container> -->
