.home-full-width {
  width: 100%;
}

.home-create-deck-content {
  margin-top: -7px
}

.home-diagram {
  padding-bottom: 15px;
}

.home-login {
  padding-bottom: 20px;
}

.boiler-home-headline {
  font-size: 22px;
}

.boiler-home-show-more {
  margin-top: 0px;
  margin-bottom: 30px;
}