<boiler-page-header>
    How it Works
</boiler-page-header>

<boiler-container padding="true" class="how-it-works">
    <p>
      <span class="md-headline" md-colors="{color:'primary-900'}">StudyWidgets</span> works with your notes. You create decks of cards by typing your notes, copying and then pasting into the new deck form.
    </p>
    <p>
      You must use a format that StudyWidgets understands. The easiest is a format that works well with Microsoft OneNote (but can also be used in a text editor of your choice). Both Windows Store and Web versions of OneNote are <em>free</em>.
      <ol>
        <li>Type your title, <strong>press enter</strong></li>
        <li>Type the first term, <strong>press tab</strong></li>
        <li>Type the definition, <strong>press enter</strong></li>
      </ol>
    </p>
    <p>
      The results in OneNote create a table for you automatically. You can create multiple decks simultaneously, just separate decks by pressing enter.
    </p>
    <div layout="column" layout-align="center center" class="gutter-top">
      <span class="md-headline" md-colors="{color:'primary-900'}">Type your notes</span>
      <img src="./src/images/one-note-example.png" alt="OneNote example">
    </div>

    <hr>

    <div layout="column" layout-align="center center" class="gutter-top">
      <span class="md-headline" md-colors="{color:'primary-900'}">Select the deck(s) you wish to create</span>
      <img src="./src/images/one-note-select-example.png" alt="OneNote example">
    </div>

    <hr>

    <div layout="column" layout-align="center center" class="gutter-top">
      <span class="md-headline" md-colors="{color:'primary-900'}">Copy</span>
      <img src="./src/images/one-note-copy-example.png" alt="OneNote example">
    </div>

    <hr>

    <div layout="column" layout-align="center center" class="gutter-top">
      <span class="md-headline" md-colors="{color:'primary-900'}">Paste</span>
      <img src="./src/images/one-note-paste-example.png" alt="OneNote example">
    </div>
</boiler-container>