.users-add {
  position: relative;
}

.users-add-icon {
  position: absolute;
  right: 25px;
  top: 15px;
  font-size: 35px;
  cursor: pointer;
}

.users-view-get-started {
  position: absolute;
  right: 60px;
  top: 53px;
}

.users-view-get-started-spacer {
  height: 269px;
}

.users-sad-face {
  display: block;
  padding: 50px 0;
  text-align: center;
}

.users-sad-face i {
  font-size: 50px;
}

.users-no-decks {
  text-align: center;
  padding-top: 35px;
}

.users-deck-list {
  padding-top: 18px;
  font-size: 20px;
}

.users-row-text {
  margin-left: 10px !important;
}

.users-deck-headline {
  margin-left: 16px;
  margin-bottom: 25px;
}